<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Prohibido</title>
  <style>
    body {
      margin-top: 80px;
      background-color: wheat;
      color: #a06ab0;
      text-align: center;
      font-size: 24px;
    }

    svg {
      width: 20%;
      fill: #a06ab0;
    }

    .footer {
      border: 1px solid black;
      background-color: wheat;
      position: fixed;
      width: 50%;
      bottom: 0;
      left: 50%;
      color: gray;
      transform: translateX(-50%);
    }
  </style>
</head>

<body>
  <use>
    <!--
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve" class="whistle">
      <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
      <g>
        <g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)">
          <path
            d="M4295.8,3963.2c-113-57.4-122.5-107.2-116.8-622.3l5.7-461.4l63.2-55.5c72.8-65.1,178.1-74.7,250.8-24.9c86.2,61.3,97.6,128.3,97.6,584c0,474.8-11.5,526.5-124.5,580.1C4393.4,4001.5,4372.4,4001.5,4295.8,3963.2z" />
          <path
            d="M3053.1,3134.2c-68.9-42.1-111-143.6-93.8-216.4c7.7-26.8,216.4-250.8,476.8-509.3c417.4-417.4,469.1-463.4,526.5-463.4c128.3,0,212.5,88.1,212.5,224c0,67-26.8,97.6-434.6,509.3c-241.2,241.2-459.5,449.9-488.2,465.3C3181.4,3180.1,3124,3178.2,3053.1,3134.2z" />
          <path
            d="M2653,1529.7C1644,1445.4,765.1,850,345.8-32.7C62.4-628.2,22.2-1317.4,234.8-1960.8C451.1-2621.3,947-3186.2,1584.6-3500.2c1018.6-501.6,2228.7-296.8,3040.5,515.1c317.8,317.8,561,723.7,670.1,1120.1c101.5,369.5,158.9,455.7,360,553.3c114.9,57.4,170.4,65.1,1487.7,229.8c752.5,93.8,1392,181.9,1420.7,193.4C8628.7-857.9,9900,1250.1,9900,1328.6c0,84.3-67,172.3-147.4,195.3c-51.7,15.3-790.8,19.1-2558,15.3l-2487.2-5.7l-55.5-63.2l-55.5-61.3v-344.6V719.8h-411.7h-411.7v325.5c0,509.3,11.5,499.7-616.5,494C2921,1537.3,2695.1,1533.5,2653,1529.7z" />
        </g>
      </g>
    </svg> -->

    <svg xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg"
      xmlns:cc="http://web.resource.org/cc/" xmlns:xlink="http://www.w3.org/1999/xlink"
      xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:svg="http://www.w3.org/2000/svg"
      xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
      xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:ns1="http://sozi.baierouge.fr"
      id="svg4252" viewBox="0 0 128 128" version="1.1" inkscape:version="0.91 r13725">
      <defs id="defs4254">
        <linearGradient id="linearGradient3402" y2="390.78" gradientUnits="userSpaceOnUse" x2="311.27"
          gradientTransform="matrix(4.7173 0 0 4.4512 -1427.9 -1668.4)" y1="377.95" x1="302.74">
          <stop id="stop4556-6" style="stop-color:#ffffff" offset="0" />
          <stop id="stop4558-2" style="stop-color:#ffffff;stop-opacity:0" offset="1" />
        </linearGradient>
        <linearGradient id="linearGradient3409" y2="387.44" gradientUnits="userSpaceOnUse" x2="332.02" y1="369.98"
          x1="314.57">
          <stop id="stop4570-4" style="stop-color:#e12b1c" offset="0" />
          <stop id="stop4572-0" style="stop-color:#980b00" offset="1" />
        </linearGradient>
      </defs>
      <path id="path4531-9" style="fill:#b4281c"
        d="m339.54 378.06a13.967 13.967 0 1 1 -27.933 0 13.967 13.967 0 1 1 27.933 0z"
        transform="matrix(4.5823 0 0 4.5823 -1427.9 -1668.4)" />
      <path id="path4533-6" style="stroke:#ffffff;stroke-width:.32492;fill:url(#linearGradient3409)"
        d="m339.54 378.06a13.967 13.967 0 1 1 -27.933 0 13.967 13.967 0 1 1 27.933 0z"
        transform="matrix(4.1839 0 0 4.1839 -1298.1 -1517.7)" />
      <path id="path4537-8" style="fill:url(#linearGradient3402)"
        d="m63.961 5.5974c-32.256 0-58.425 26.169-58.425 58.425 0 15.498 6.3245 29.347 16.181 39.809 5.1208-42.295 40.818-75.179 84.487-75.179 1.1775 0 2.2708 0.23926 3.4368 0.28639-10.685-13.897-26.806-23.341-45.679-23.341z" />
      <path id="rect4574-4" style="fill:#ffffff"
        d="m26.622 72.599c-0.00006 0.76161 0.6704 1.2888 1.432 1.2888l71.885-0.000017c0.76159 0 1.4319-0.52725 1.432-1.2888v-17.184c0.00004-0.76163-0.67035-1.432-1.432-1.432l-71.885 0.000017c-0.76161-0.000053-1.432 0.67035-1.432 1.432v17.184l-0.00005 0.000017z" />
      <metadata>
        <rdf:RDF>
          <cc:Work>
            <dc:format>image/svg+xml</dc:format>
            <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
            <cc:license rdf:resource="http://creativecommons.org/licenses/publicdomain/" />
            <dc:publisher>
              <cc:Agent rdf:about="http://openclipart.org/">
                <dc:title>Openclipart</dc:title>
              </cc:Agent>
            </dc:publisher>
            <dc:title>Delete icon</dc:title>
            <dc:date>2010-10-09T13:46:55</dc:date>
            <dc:description>Red round glosy Delete icon</dc:description>
            <dc:source>https://openclipart.org/detail/89257/delete-icon-by-kuba</dc:source>
            <dc:creator>
              <cc:Agent>
                <dc:title>kuba</dc:title>
              </cc:Agent>
            </dc:creator>
            <dc:subject>
              <rdf:Bag>
                <rdf:li>button</rdf:li>
                <rdf:li>delete</rdf:li>
                <rdf:li>denied</rdf:li>
                <rdf:li>glosy</rdf:li>
                <rdf:li>icon</rdf:li>
                <rdf:li>no</rdf:li>
                <rdf:li>no access</rdf:li>
                <rdf:li>red</rdf:li>
                <rdf:li>round</rdf:li>
              </rdf:Bag>
            </dc:subject>
          </cc:Work>
          <cc:License rdf:about="http://creativecommons.org/licenses/publicdomain/">
            <cc:permits rdf:resource="http://creativecommons.org/ns#Reproduction" />
            <cc:permits rdf:resource="http://creativecommons.org/ns#Distribution" />
            <cc:permits rdf:resource="http://creativecommons.org/ns#DerivativeWorks" />
          </cc:License>
        </rdf:RDF>
      </metadata>
    </svg>
  </use>
  <h1>403</h1>
  <h2>Acceso Denegado!</h2>

  <div class="footer">
    <span class="">&copy; 2023 CubaFashion, Inc</span>
  </div>
</body>

</html>
