{% extends 'aheader.html' %}
{% block content %}
<main class="container">
  <label>Productos</label>
  <table>
    <tr>
      <th>Garage</th>
      <th>Usuario</th>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Propietario</th>
      <th>Foto</th>
    </tr>
    {% for x in xs %}
    <tr>
      <th>{{x.user.nombre}}</th>
      <th>{{x.nombre}}</th>
      <th>{{x.address}}</th>
      <th>{{x.telephone}}</th>
      <th>{{x.owner}}</th>
      <th><img src="{{x.photo.url}}" alt="photo" style="width: 64px;"></th>
      <th>
        <a href="/root/dgarage{{x.id}}">
          <button type="button" style="color: white">Eliminar</button>
        </a>
      </th>
    </tr>
    {% endfor %}

  </table>

</main>

{% endblock %}
