<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='/Template/css/boxicons.min.css' rel='stylesheet'>
    <link href="/Template/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/Template/css/style.css">

    <title>Ventas de Garajes</title>

</head>

<body>
    <header class="p-3 text-bg"
        style="position: relative; top: -10px; height: 100px; background-color: rgb(124, 2, 67);">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/Template/media/CubaFashion.png" alt=""
                    style="position: relative;top:4px;left:-100px; width: 70px;"></a>
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
                    style="position: relative; top: -50px; left: -30px;">
                    <li><a href="/root/" class=" nav-link px-2 text-white">Usuarios</a></li>
                    <li><a href="/root/agarage.html" class="nav-link px-2 text-white">Garajes</a></li>
                    <li><a href="/root/aproducto.html" class="nav-link px-2 text-white">Productos</a></li>
                    <li><a href="/root/apromocion.html" class="nav-link px-2 text-white">Promociones</a></li>
                    <li><a href="/root/acategoria.html" class="nav-link px-2 text-white">Categorías</a></li>
                </ul>


                <div class="text-end" style="position: relative; top: -50px; left: 80px;">
                    <a href="/logout"><button type="button" class="btn btn text-white" style="background-color: black; height: 40px">
                            Salir</button></a>
                </div>

            </div>
        </div>
    </header>




    {% block content %}
    {% endblock %}


    <script src="/Template/scripts/boxicons.js"></script>
    <script src="/Template/scripts/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="/Template/scripts/jquery.min.js"></script>
    <script src="/Template/scripts/jqvalidate.js"> </script>

    <script src="/Template/scripts/index.js"></script>

</body>

</html>
