{% extends 'header.html' %}
{% block content %}
<main class="relative">
    <div class="c" style="" >
        <!--  <div class="texto" style=" position: relative; top:50px; left: 20px; width: 50%; text-align: center;"> -->
        <div class="elemento" style="">
            <h1 style="font-size: 70px;">
                <strong>
                    <span class="color-acento"> Crear Garages</span>
                </strong>
            </h1>
        </div>
    {% if isowner and glen == 0 %}
    <div class="elemento">
        <form method='POST', action="/addGarage/" enctype="multipart/form-data">
          {% csrf_token %}
        <label class="text" style="">Nombre del garaje </label>
        <input type="text" name="nombre" class="form-control" placeholder="El nombre" required>
        <span class="error" style="color: red;">{{error_nombre}}</span>
        <label for="floatingInput">Nombre del propietario </label>
        <input type="text" name="owner" class="form-control"  placeholder="John Doe" required>
        <span class="error" style="color: red;">{{error_owner}}</span>
        <label for="floatingInput">Dirección del garaje </label>
        <input type="text" name="address" class="form-control"  placeholder="123 #123 e/asd y dsa" required>
        <span class="error" style="color: red;">{{error_address}}</span>
        <label for="floatingInput">Teléfono</label>
        <input type="text" name="telephone" class="form-control"  placeholder="+53XXXXXXXX" required>
        <span class="error" style="color: red;">{{error_telephone}}</span>
        <label for="floatingInput">Foto</label>
        <input type="file" name="photo" class="form-control">
        <span class="error" style="color: red;">{{error_photo}}</span>
        <button class="button"style="color: white; margin-top: 30px; margin-left:500px;" type="submit" >Crear Garage</button>
            
        </form>

    {% endif %}
    </div>

</main>

{% endblock %}
