{% extends 'header.html' %}
{% block content %}

<main>
  <section id="vender">
    <div class="container" style=" margin-top: 80px;">
      <img src="/Template/media/vender2.jpg"
        style=" top: 100px; height: 300px; width: 500px; margin-left: 700px; border-radius: 100px;">
      <div class="texto" style="position: relative; top:-220px; left: 20px; width: 50%; text-align: center;">
        <h2><strong><span class="color-acento">Quiero Vender en CubaFashion</span></strong></h2>
        <p>

          ¿Desea vender sus productos en CubaFashion?
          Puede sumarse a la plataforma online con más negocios privados que realizan
          entregas en Cuba y compartir sus productos con toda la comunidad cubana.
          Contacte hoy a nuestro equipo comercial por el correo electrónico:
          <a href="#">cubafashion@gmail.com</a>
        </p>
      </div>
    </div>
    </div>
  </section>
</main>
{% endblock %}
