{% extends 'header.html' %}
{% block content %}
<main class="container relative">
    <div class="c" style="">
        <!--  <div class="texto" style=" position: relative; top:50px; left: 20px; width: 50%; text-align: center;"> -->
        <div class="elemento" style="">
            <h1 style="font-size: 70px;">
                <strong>
                    <span class="color-acento"> Crear Promoción</span>
                </strong>
            </h1>
        </div>
        {% if isowner %}
        <div class="elemento">
            <form method='POST' , action="/addPromocion/" enctype="multipart/form-data">
                {% csrf_token %}

                <label for="floatingInput">Foto</label>
                <input type="file" name="photo" class="form-control" required>
                <span class="error" style="color: red;">{{error_photo}}</span>
                <button class="buttonform" style="color: white" type="submit">Crear Promoción</button>

            </form>

            {% endif %}
        </div>

</main>

{% endblock %}
