<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='/Template/css/boxicons.min.css' rel='stylesheet'>
    <link href="/Template/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/Template/css/style.css">

    <title>Ventas de Garajes</title>

</head>

<body>
    <header class="p-3 text-bg" style="position: relative; top: -10px; height: 100px; background-color: rgb(124, 2, 67);">
        <div class="container">
            <a class="navbar-brand" href="/Template/Dueño/duenno.html"><img src="/Template/media/CubaFashion.png" alt="" style="position: relative;top:4px;left:-100px; width: 70px;"></a>
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">

                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="position: relative; top: -50px; left: -30px;">
                    <li><a href="/Template/Dueño/duenno.html" class="nav-link px-2 text-white">Home</a></li>
                    <li><a class="nav-link dropdown-toggle px-2 text-white" href="#" role="button" data-bs-toggle="dropdown">
                            Garajes
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/Template/Dueño/AnadirGarD.html">Añadir garaje</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link dropdown-toggle px-2 text-white" href="#" role="button" data-bs-toggle="dropdown">
                            Productos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/Template/Dueño/prodDuenno.html">Productos</a></li>
                            <li><a class="dropdown-item" href="/Template/Dueño/AdministrarMer.html">Añadir producto</a></li>
                            <li><a class="dropdown-item" href="/Template/Dueño/Promocion.html">Añadir promoción</a></li>
                        </ul>
                    </li>
                    <li><a href="#somos-ventas" class="nav-link px-2 text-white">Acerca de</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" style="position: relative; top: -50px; left: 80px;">
                    <input type="search" class="form-control form-control-dark text-bg" placeholder="Search..." aria-label="Search">
                </form>

                <div class="text-end" style="position: relative; top: -50px; left: 80px;">
                    <a><i class='bx bx-user-circle' style="color: white; font-size: 30px;"></i></a>
                </div>

                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="position: relative; top: -50px; left: 100px;">
                    ES
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#"><img src="/Template/media/i2.svg" style="width: 30px;">EN</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main class="container">
        <section id="garage">
            <div class="container" style="display: flex; justify-content: center;">
                <div class="texto" style=" position: relative; top:50px; left: 20px; width: 50%; text-align: center;">
                    <h1 style="font-size: 100px;"><strong><span class="color-acento">Carrito</span></strong></h1>
                </div>
            </div>
            </div>
        </section>

        <main>
            <section>
                <table class="car">
                    <thead>
                        <tr>
                            <th>Productos:</th>
                            <th>Precios:</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Total:</th>
                            <th>$</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>John Lennon</td>
                            <td>Rhythm Guitar</td>
                        </tr>
                        <tr>
                            <td>Paul McCartney</td>
                            <td>Bass</td>
                        </tr>
                        <tr>
                            <td>George Harrison</td>
                            <td>Lead Guitar</td>
                        </tr>
                        <tr>
                            <td>Ringo Starr</td>
                            <td>Drums</td>
                        </tr>
                    </tbody>
                </table>



                <div class="contenedor">

                    <div class="boton2" style="top: 300px; left: 1000px">
                        <button type="submit" id="botones"><strong>Eliminar</strong></button>
                    </div>


                </div>

            </section>
        </main>


    </main>


    <script src="/Template/scripts/boxicons.js"></script>
    <script src="/Template/scripts/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="/Template/scripts/jquery.min.js"></script>
    <script src="/Template/scripts/jqvalidate.js"> </script>

    <script src="/Template/scripts/index.js"></script>
</body>

</html>